/* -----------------------Global Styles------------------------- */
body {
    font-family: "Cookie", cursive;
    margin: 0;
    background-color:#B8D9B0 ;
    font-style: italic;
    background-color: #F2ACBF;
    background-image: url(C:\Users\sdcouch\Downloads\15a9f01dd3466e92dbe4c0112390f129.jpg)
    text-align: center;
    display: block;
  }

  /* ---------------Box Sizing----------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  background-color:#F2ACBF;
  color: #D9556D;
  font-family:"Cookie", cursive;
  background-image:url(C:\Users\sdcouch\Downloads\15a9f01dd3466e92dbe4c0112390f129.jpg)
#wrap {
  width: 70vw;
  max-width: 900px;
  margin: 40px auto;
  background: rgba(0,0,0,.5);
  border: double 3px #c0c0c0;
  padding: 40px;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
}

h2 {
  border-bottom: 1px solid #c0c0c0;
}

a {
  color: #ffffff;
}

header.primary h1 {
       font-size: 2.4rem;
       border-bottom: 2px solid #c0c0c0;
   }

nav ul {
       display: block;
       list-style-type: none;
       color: #969696;
       list-style-type: disc;
       font-size: 1.4rem;

   }

header.primary nav a {
       display: block;
       text-align: left;
       color: white;

       text-decoration:none;
       transition:0.5s;
   }

a:hover {
       font-size:1.7rem;
       background-color:#2D3138;
   }
#position-lab {
       display: block;
       text-align: left;
       list-style-type: none;
   }
#position-lab + ul {
       list-style-type: circle;
   }

#pro-en{
  text-align: left;
}
.pro-en p , .pro-en ul li,h2, .review{
  color:#fff;
}
#review{
  text-align: left;
}
#review p q{
  text-decoration: underline;
}
/* #pro-en h3{
  border-bottom: 1px solid #c0c0c0;
} */

/* -----------------------Footer------------------------ */
footer {
    color: white;
    position:relative;
    text-align: left;
   }